    *{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    body{
        margin-bottom:100px;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        margin: 2px;
        background-color: chocolate;
        margin-bottom: 9px;
        
    }
    .logo{
        color:rgb(3, 238, 74) ;
        font-size: 2em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 6px;
    }
    .navbar{
        display: flex;
    }
    .navbar ul{
        display: flex;
        gap: 20px;
        text-decoration: none;
        list-style: none;
        background-color: antiquewhite;
        padding: 10px;
        border: 1.5px solid yellowgreen;
        margin-right: ;
    }
   .cards{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    padding: 20px;
    gap: 10px;
    margin-right: 2px;
    border: 2px solid rgb(210, 105, 30);
    padding-bottom: 20px;
   }
   .cards card{
    display: flex;
    flex-direction: column;
   }
   .card{
    display: flex;
    flex-direction: column;
    
    padding: 9px;
    border-radius: 5px;
   }
   .btn{
   padding: 10px;
   margin-top: 10px;
   width:150px;
   margin-bottom: 10px;
   border: 4px;
   border-radius: 9px;
   background-color:rgb(210, 105, 30) ;
   }
   .btn:hover{
    color: red;
    background-color: rgb(215, 215, 34);
   }
   .btn:active{
    color:blue;
   }
