    * {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    }
    .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid;
    border-style: dotted;
    background-color: rgb(72, 69, 69);
    }
    .logo {
    font-size: 2em;
    color: rgb(78, 73, 173);
    }
    .nav {
    color: rgb(33, 164, 13);
    padding: 10px;
    }
    ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    color: green;
    }
    a {
    color: rgb(206, 205, 208);
    text-decoration: none;
    }
